@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Here is a Message!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt qui nesciunt temporibus illum adipisci laudantium fuga, vero sequi. Facere aspernatur quaerat voluptatum porro non cumque ipsam mollitia quis, repellat delectus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione harum dolore nihil fugit sit aperiam iure dolores consequuntur alias nobis suscipit quis, fugiat rem dignissimos odio reprehenderit repellendus modi eos? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit architecto accusamus exercitationem, rerum dolorem tenetur voluptas eum? Ullam et neque sunt eos, fuga pariatur, laborum nihil quod voluptate quis libero!</p>
</div>
