@model ViewModelFun.Models.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4"> @Model.FirstName @Model.LastName</h1>
        <img src="https://www.jawbone.org/images/articles/mad2018/Fuller-Resoution-4-28-2018_0082.cropped.lowres.jpg">
    </div>
</body>
</html> 